#cardHolder {
    display: grid;
    grid-row: 2;
    grid-template-columns: auto;
}

#carouselContainer, .carousel-inner {
    height: 50% !important;
}

#carousel-text {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: transparent, gray;
    font-size: 40px;
    background-color: rgba(128, 128, 128, 0.5);
}

.card-body {
    font-size: 15px;
    font-weight: bold;
}

#main {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}